{% extends "layout.html" %}
{% block body %}

        <!-- Page Header-->
        <header class="masthead" style="background-image: url('static/assets/img/about-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About Me</h1>
                            <span class="subheading">This is what I do.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>I am a Software Engineer Intern dedicated to improving skills through hands-on learning and development work</p>
                        <p>I am Proficient in web application and API. Adept at using HTML5 , JavaScript and Python programming languages to produce clean code</p>
                        <p>I am a collaborative team player with strong communication and analytical abilities.</p>
                    </div>
                </div>
            </div>
        </main>
        
{% endblock %}